
@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-Regular.ttf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-Italic.ttf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-Hairline.ttf") format("opentype");
	font-weight: 100;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-HairlineItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-Black.ttf") format("truetype");
	font-weight: 900;
}

@font-face {
	font-family: 'Lato';
	src: url("/assets/fonts/Lato-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

