/*
* Akgupta: List of Color variables used in the project
*/
/*---*/
$light-gray: hsl(0, 0, 90%);//#e6e6e6;

$gray: hsl(0, 0, 80%);//#cccccc;

$darker-gray: hsl(0, 0, 50%);//#808080;

$dark-gray: hsl(0, 0, 20%);//#333333;


/*---*/
$gold: rgb(187, 145, 86) !default; //#bb9156 !default;

$light-gold: rgb(217, 203, 158); //#d9cb9e;

$lighter-gold: rgb(238, 231, 221); //#eee7dd;

/*---*/
$error-red: rgb(220, 53, 34); //#dc3522;

$red: rgb(156, 28, 35); //#9c1c23;

$dark-red: rgb(122, 25, 27); //#7d161b;

$red-bright: rgb(255, 86, 45); //#FF562D

$orange-bright: rgb(251, 176, 59); //#FBB03B

$hover-color: $dark-red;

/*---*/
$cyan: rgb(35, 166, 173); //#23a6ad;

$green: rgb(34, 181, 115); //#22b573;

$blue-bright: rgb(15, 172, 210);//#0facd2;

/*---*/
$white: hsl(0, 0, 100%); //#ffffff;

$black: hsl(0, 0, 0%); //#000000;


/*---*/
$border-radius: 4px;
$corner-radius: $border-radius;
$rad: $border-radius;

/*
** Overriding the default font-type with 'Lato' font-family for this application.
*/
$font-family-lato: "Lato";

/*
** Declaring height of the Top nav bar.
*/
$top-nav__height: 50px;

/*
** Declaring height of the row in which the filters button appears.
*/
$filters-row__height: 75px;

/*
** Declaring thickness of the arrow.
*/
$breadcrumb-arrow-thickness: 20px; //
